.owner-container{
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.owner-title{
  margin-top: 5%;
  font-size: 3rem;

}
.owner-image{
  border-radius: 100%;
  border: 5px solid rgb(255, 208, 0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
  margin: 5%;
  width: 40%;
}

.owner-name{
  font-size: 2.5rem;
  margin: 1%;
}
.owner-subtitle{
  margin-top: 2rem;
}

.owner-list{
  display: inline-block;
  text-align: left;
  margin: 1%;
  font-size: 1.5rem;
}
.owner-description,
.owner-contact {
  margin: 1rem auto;
  text-align: center;
  max-width: 400px;
  width: 90%;
  font-size: 1.5rem;
}